@include exports("styles/objects/form-group") {
  .form-group {
    @include responsive-margin(6, "bottom");

    .form-group:last-of-type {
      // Remove margin from last item in nested groups
      margin-bottom: 0;
    }
  }

  .form-group--error {
    padding-left: spacing(2);
    border-left: $border-width-form-group-error solid $error-colour;

    .form-group {
      // Reset error styles in nested form groups that might have error class
      padding: 0;
      border: 0;
    }
  }
}
