@mixin width-container {
  // Limit the width of the container to the page width
  max-width: $page-width;

  // On mobile, add half width gutters
  margin: 0 $gutter-half;

  // On tablet, add full width gutters
  @include media-query($from: tablet) {
    margin: 0 $gutter;
  }

  // As soon as the viewport is greater than the width of the page plus the
  // gutters, just centre the content instead of adding gutters.
  @include media-query($and: "(min-width: #{($page-width + $gutter * 2)})") {
    margin: 0 auto;
  }
}

// Use width-container--s to wrap forms such as event creation, in main content
@mixin width-container--s {
  max-width: calc(#{$page-width} / 2);
  margin: 0 auto;
}

@include exports("styles/objects/width-container") {
  .width-container {
    @include width-container;
  }

  .width-container--s {
    @include width-container--s;
  }
}
