@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include exports("styles/component/content-list") {
  .contents-list {
    @include responsive-margin(6, "bottom");
  }

  .contents-list__sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .contents-list__list-item {
    @extend %body-s;
  }
}
