@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include exports("styles/component/error-message") {
  .error-message {
    @include font($size: 16, $weight: bold);

    color: $error-colour;
    display: block;
    margin-top: spacing(1);
    margin-bottom: spacing(3);
    clear: both;
  }
}
