@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";
@import "../helpers/typography";

@include exports("styles/component/feedback") {

  $feedback-background: colour("blue");
  $prompt-height: 20px;
  $prompt-text: colour("white");
  $prompt-link: $prompt-text;
  $prompt-link-hover: colour("white");

  .feedback {
    background-color: $feedback-background;
  }

  .feedback__prompt {
    min-height: calc(#{$prompt-height} * 2);
    color: $prompt-text;

    @include responsive-padding(2, "top");
    @include responsive-padding(2, "bottom");

    @include mq ($from: tablet) {
      min-height: $prompt-height;
    }
  }

  .feedback__prompt-question {
    @include font($size: 16, $weight: bold);

    margin: 0;
    float: left;
  }

  .feedback__prompt-link {
    float: left;

    @include font($size: 16);
    @include focusable-fill;
    @include responsive-margin(2, "left");

    &:link,
    &:visited {
      color: $prompt-link;
    }

    &:hover,
    &:active {
      color: $prompt-link-hover;
    }

    // When focussed, the text colour needs to be darker to ensure that colour
    // contrast is still acceptable
    &:focus {
      color: $focus-text-colour;
    }

    // alphagov/_template includes a specific a:link:focus selector
    // designed to make unvisited links a slightly darker blue when focussed, so
    // we need to override the text colour for that combination of selectors.

    @include compatibility(_template) {
      &:link:focus {
        @include text-colour;
      }
    }
  }

  .feedback__prompt-link--wrong {
    margin: 0;

    @include responsive-margin(2, "top");
    @include responsive-margin(2, "bottom");

    @include mq ($from: tablet) {
      float: right;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
