@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include exports("styles/component/fieldset") {
  .fieldset {
    margin: 0;
    padding: 0;
    border: 0;

    @include clearfix;
  }

  .fieldset__legend {
    @include font($size: 19);

    // Fix legend text wrapping in Edge and IE
    // 1. IE9-11 & Edge 12-13
    // 2. IE8-11
    box-sizing: border-box; // 1
    display: table;         // 2
    max-width: 100%;        // 1
    margin-bottom: spacing(2);
    padding: 0;
    // Hack to let legends or elements within legends have margins in webkit browsers
    overflow: hidden;
    white-space: normal;    // 1
  }

  // Modifiers that make legends look more like their equivalent headings

  .fieldset__legend--xl {
    @include font($size: 48, $weight: bold);

    margin-bottom: spacing(3);
  }

  .fieldset__legend--l {
    @include font($size: 36, $weight: bold);

    margin-bottom: spacing(3);
  }

  .fieldset__legend--m {
    @include font($size: 24, $weight: bold);

    margin-bottom: spacing(3);
  }

  .fieldset__legend--s {
    @include font($size: 19, $weight: bold);
  }

  // When the legend contains an H1, we want the H1 to inherit all styles from
  // the legend. Effectively we want to be able to treat the heading as if it is
  // not there.
  .fieldset__heading {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }
}
