@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include exports("styles/component/form") {

  $form-background: colour("grey-4");
  $form-footer-background: colour("white");
  $form-border-color: colour("grey-4");
  $form-text: colour("black");

  .form {
    background: $form-background;
    color: $form-text;
    margin: 0 auto;

    @include responsive-margin(4, "bottom");
  }

  .form__section {
    @include responsive-padding(4, "top");
    @include responsive-padding(4, "left");
    @include responsive-padding(4, "right");
  }

  .form__header {
    background: $form-footer-background;
    border-bottom: 1px solid $form-border-color;

    @include responsive-padding(4, "all");
    @include typography-responsive($size: 24, $override-line-height: 1);

    @supports (display: flex) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    > * {
      margin-bottom: 0;
    }

    .header__actions {
      margin-right: 0;

      @supports (display: flex) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      > * {
        margin-bottom: 0;

        //&:not(last-child) {
        //  margin-left: spacing(4);
        //}
      }
    }

    @include mq ($from: tablet) {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  .form__footer {
    position: relative;
    text-align: center;
    background: $form-footer-background;
    border-top: 1px solid $form-border-color;

    @include responsive-padding(4, "all");

    z-index: 1;

    p {
      color: $form-text;
    }

    .button {
      width: 100%;
    }
  }

  .link {
    @include typography-responsive($size: 16, $override-line-height: 1);
  }

  @include media-query($media-type: print) {
    .form {
      border-bottom-width: 0;
      color: colour("black");
      background: transparent;
    }
  }

  // End adjustments
}
