@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include exports("styles/component/label") {
  .label {
    @include font($size: 16);

    color: darken($secondary-text-colour, 20%);
    display: block;
    margin-bottom: spacing(1);
  }

  // Modifiers that make labels look more like their equivalent headings

  .label--xl {
    @include font($size: 36, $weight: bold);

    margin-bottom: spacing(3);
  }

  .label--l {
    @include font($size: 24, $weight: bold);

    margin-bottom: spacing(3);
  }

  .label--m {
    @include font($size: 19, $weight: bold);

    margin-bottom: spacing(2);
  }

  .label--s {
    @include font($size: 16, $weight: bold);
  }

  // When the label is nested inside a heading, override the heading so that it
  // does not have a margin. Effectively we want to be able to treat the heading
  // as if it is not there.
  //
  // This breaks BEM conventions because it exists as a parent of the 'block',
  // so we can't really consider an element.
  .label-wrapper {
    margin: 0;
  }
}
