@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include exports("styles/component/modal") {
  $modal-background: colour("black");
  $modal-content-background: colour("white");

  .modal {
    display: none;
    position: fixed;
    z-index: 8888;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba($modal-background, 0.4);
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: $modal-content-background;
    margin: 10vh auto;
    width: 90%;

    @include responsive-padding(4);

    @include mq ($from: tablet) {
      width: 50%;
    }
  }

  /* Close Button */
  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
}
