@import "../settings/all";
@import "../tools/all";
@import "../helpers/all";

@include exports("styles/component/section") {

  $section-heading-border: colour("blue");
  $section-heading-border-width: 1px;
  $section-border-color: colour("blue");

  .section {
    // border-bottom: 1px solid $section-border-color;

    @include responsive-padding(4, "top");
    @include responsive-padding(4, "bottom");

    // &:last-child {
    //   border-bottom: 0;
    // }
  }

  .section-heading {
    // font-family: $font-comic;
    position: relative;

    // @include responsive-padding(4, "left");
    @include responsive-padding(4, "top");

    @supports (display: flex) {
      display: flex;
      align-items: center;

      .link {
        margin-left: auto;
      }
    }
  }

  .section-heading--bordered {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      // height: 100%;
      width: 100%;

      @include responsive-margin(2, "right");

      border-radius: $border-radius;
      height: $section-heading-border-width;
      background-color: $section-border-color;
    }
  }
}
