////
/// @group settings/typography
////
// =========================================================
// Font families
// =========================================================

/// Font families to use for all typography on screen media
///
/// @type List
/// @access public

$font-family: $font-family !default;
$font-comic: $font-comic !default;

/// Font families to use for print media
///
/// @type List
/// @access public

$font-family-print: sans-serif !default;

// =========================================================
// Font weights
// =========================================================

/// Font weight for regular typography
///
/// @type Number
/// @access public
$font-weight-regular: 400 !default;

/// Font weight for bold typography
///
/// @type Number
/// @access public
$font-weight-bold: 700 !default;
