@import 'design.css';

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1380px
}

.flex {
  display: flex;
}

.page-margin {
  margin-left: 87px;
  margin-right: 87px;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
  margin: auto;
}

.w-90 {
  width: 90%;
  margin: auto;
}

.ml-10 {
  margin-left: 10px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-200 {
  margin-left: 200px;
}

.mr-200 {
  margin-right: 200px;
}

.mt--2 {
  margin-top: -2px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-1rem {
  margin-top: 1rem;
}

.mt-2rem {
  margin-top: 2rem;
}

.mt-3rem {
  margin-top: 3rem;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-1r {
  padding-right: 1rem;
}

.pt-1r {
  padding-top: 1rem;
}

.btn-corner-left {
  height: 30px;
  transform: translateY(-50%);
  margin-left: 3px;
}

.btn-corner-right {
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  margin-right: -2px;
}

.gc-page-margin {
  margin-left: 111px;
  margin-right: 111px;
}

/* borders */

.border-top-green {
  border-top-color: var(--gc-green);
  border-top-width: 2px;
  border-top-style: solid;
}

.border-green-left-right {
  border-left-color: var(--gc-green);
  border-left-width: 2px;
  border-right-color: var(--gc-green);
  border-right-width: 2px;
  border-left-style: solid;
  border-right-style: solid;
  padding-left: 9.75%;
  padding-right: 9.5%;
}

.logo-border-bottom {
  border-top-color: var(--gc-green);
  border-top-width: 2px;
  border-top-style: solid;
  margin-left: 201px;
  margin-right: 200px;
  margin-top: -3px;
}

.border-left-green {
  border-left-color: var(--gc-green);
  border-left-width: 2px;
  border-left-style: solid;
}

.border-right-green {
  border-right-color: var(--gc-green);
  border-right-width: 2px;
  border-right-style: solid;
}

.divider-border-top {
  border-top-color: var(--gc-green);
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: -100px;
  padding-top: 98px;
  margin-left: 85px;
}

.corner-align-right {
  justify-content: flex-end;
}

.bkg-transparent {
  background: transparent;
}

.sub-heading {
  font-family: var(--gc-font-family-outfit);
  font-style: var(--gc-font-style-normal);
  font-weight: var(--gc-font-weight-300);
  font-size: var(--gc-font-size-20);
  line-height: var(--gc-line-spacing-34);
  color: var(--lightgray);
  letter-spacing: 0.2px;
  opacity: 1;
}

.gc-col {
  display: block;
  position: inherit;
}

.col-content {
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  list-style-type: none; /* Remove default bullets */
  background: url('@/assets/images/arrow-green-right-index.svg') no-repeat left center; /* Set image as background */
  padding-left: 35px; /* Adjust padding to make space for the image */
  background-size: 25px 25px; /* Adjust the size of the background image */
  background-position: 0 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

a[href]  {
  font-family: var(--gc-font-family-outfit);
  font-style: var(--gc-font-style-normal);
  font-weight: var(--gc-font-weight-300);
  font-size: var(--gc-font-size-18);
  line-height: var(--gc-line-spacing-29);
  letter-spacing: var(--gc-character-spacing-0-18);
  color: var(--gc-green-2);
  text-decoration: none;
}

a[href]:hover {
  font-family: var(--gc-font-family-outfit);
  font-style: var(--gc-font-style-normal);
  font-weight: var(--gc-font-weight-300);
  font-size: var(--gc-font-size-18);
  line-height: var(--gc-line-spacing-29);
  letter-spacing: var(--gc-character-spacing-0-18);
  color: var(--gc-red);
  text-decoration: none;
}
