@include exports("styles/core/section-break") {
  %section-break {
    margin: 0;
    border: 0;

    // fix double-width section break and forced visible section break
    // when combined with styles from alphagov/elements
    @include compatibility(_elements) {
      height: 0;
    }
  }

  .section-break {
    @extend %section-break;
  }

  // Sizes

  %section-break--xl {
    @include responsive-margin(8, "top");
    @include responsive-margin(8, "bottom");
  }

  .section-break--xl {
    @extend %section-break--xl;
  }

  %section-break--l {
    @include responsive-margin(6, "top");
    @include responsive-margin(6, "bottom");
  }

  .section-break--l {
    @extend %section-break--l;
  }

  %section-break--m {
    @include responsive-margin(4, "top");
    @include responsive-margin(4, "bottom");
  }

  .section-break--m {
    @extend %section-break--m;
  }

  // Visible variant
  %section-break--visible {
    border-bottom: 1px solid $border-colour;
  }

  .section-break--visible {
    @extend %section-break--visible;
  }
}
