// aside
.brand {
  display: flex;
  position: fixed;
  top: .85rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;

  .eye {
    width: 2rem;
    height: 2rem;
    border: 2px solid $black;
    background-color: $white;
    border-radius: 50%;
  }
  .pupil {
    position: absolute;
    bottom: 25%;
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' viewBox='0 0 32 32'%3E%3Cstyle%3E .st1%7Bfill:%23121212%7D %3C/style%3E%3Cpath d='M16 32C7.2 32 0 24.8 0 16S7.2 0 16 0s16 7.2 16 16-7.2 16-16 16z' fill='%23fff'/%3E%3Cpath class='st1' d='M16 32C7.2 32 0 24.8 0 16S7.2 0 16 0s16 7.2 16 16-7.2 16-16 16zm0-30.1C8.2 1.9 1.9 8.2 1.9 16S8.2 30.1 16 30.1 30.1 23.8 30.1 16 23.8 1.9 16 1.9z'/%3E%3Cpath class='st1' d='M.9 16.3H31v1.9H.9z'/%3E%3C/svg%3E");
  }
}
