body {
  @include body-font;
}

.brand {
  &-logo {
    height: 20px;
  }
  &-icon {
    height: 24px;
  }
}

.container {
  max-width: 1000px;
}

.close span {
  text-shadow: none;
}

.jumbotron {
  background: $white;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.sticky--aside {
  position: sticky;
  top: 5.5rem;
}

a, .nav-link,
.navbar [aria-current="page"] {
  &:focus {
    outline: 3px solid $yellow;
    outline-offset: 0;
    background-color: $yellow;
    color: $link-color !important;
  }
}

.nav-link.active {
  text-decoration: underline;
  font-weight: 600;
}

hr {
  text-align: center;
  border: 0;
  height: 4rem;
  display: flex;

  &::before {
    content: "";
    height: 1px;
    background-color: $gray-300;
    margin: 2rem auto;
    width: 100%;
  }
}
