.navbar {

  background: rgba($brand-dark, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  transition: background ease-in 200ms;

  [aria-current="page"] {
    color: $white !important;
  }

  &:hover {
    background: rgba($brand-dark, 1);
  }

  .navbar-toggler {
    border: 0;

    &.collapsed {
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /%3E%3C/svg%3E");
      }
    }
  }

  .navbar-brand {
    font-weight: 700;
  }

}
