h1
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

// Type display classes
.display-1 {
  letter-spacing: -.009em;
  font-size: 3.5em;
  word-wrap: break-word;
  hyphens: auto;

  @include media-breakpoint-down(md) {
    font-size: 3em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.8em;
  }
}
.display-2 {
  letter-spacing: -.009em;
  word-wrap: break-word;
  hyphens: auto;

  @include media-breakpoint-down(md) {
    font-size: 2.8em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.6em;
  }
}
.display-3 {
  letter-spacing: -.003em;
  word-wrap: break-word;
  hyphens: auto;

  @include media-breakpoint-down(md) {
    font-size: 2.6em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.4em;
  }
}
.display-4 {
  letter-spacing: -.003em;
  word-wrap: break-word;
  hyphens: auto;

  @include media-breakpoint-down(md) {
    font-size: 2.4em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.25em;
  }
}

strong, b {
  font-weight: 700;
}

// Type paragraph classe
.lead {
  color: $gray-600;
  font-weight: 600;

  strong, b {
    color: $black;
    font-weight: 600;
  }
}
