// figures
figure {
  position: relative;

  img {
    margin-bottom: 1rem;
  }

  figcaption {
    font-size: small;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
  }
}

.image__person {
  border: 0.5rem solid $white;
  width: 8rem;
  height: 8rem;
}
